$color-theme = #d43c33
$color-text = #333
$color-text-ll = rgb(205,205,205)
$color-text-l = rgb(139,133,141)
$color-background = rgb(235, 236, 236)
// $color-background = rgb(214,213,209)
$color-background-l = rgb(247,247,247)

$font-size-normal = 12px
$font-size-small = 10px

