$color-theme = #d43c33
$color-text = #333
$color-text-d = rgb(45, 44, 50)
$color-text-ll = rgb(205,205,205)
$color-text-l = rgb(152,152,152)
$color-background = rgb(235, 236, 236)
// $color-background = rgb(214,213,209)
$color-background-l = rgb(247,247,247)

$font-size-normal = 14px
$font-size-small = 10px
$font-size-large = 18px

$color-text-desc = rgba(247,247,247,0.7)
